{% extends "base.html" %}

{% block title %}{{title}} - Tools{% endblock %}

{% block content %}
<div class="row">
    <div class="span3 tools-sidebar">
    	<ul data-spy="affix">
    		<li><a href="/data-and-tools/ictclas/">ICTCLAS</a></li>
    		<li><a href="/data-and-tools/translation/">Chinese Translation</a></li>
            <li><a href="">Classifiers</a></li>
            <li><a href="/data-and-tools/data/">Download Data</a></li>
    		<li>
                Donate Bitcoin to me
                <img src="/static/img/qr.jpg" />
                <p class="muted" style="font-size: 8px; font-family: arial;">1NArGM1rpWPUqEidXBnd9qnFNoxpDCmnmU</p>
            </li>
    	</ul>
    </div>
    <div class="span9 tools-main">
    	{% block main %}{% endblock %}
    </div>
</div>
{% endblock %}