{% extends "base.html" %}

{% block title %}{{title}} - Tools{% endblock %}

{% block content %}
<div class="row">
    <div class="span3 tools-sidebar">
        <ul data-spy="affix">
            <li><a href="/tools/ictclas/">ICTCLAS</a></li>
            <li><a href="/tools/translation/">Chinese Translation</a></li>
            <li><a href="/tools/check/">Error Check</a></li>
            <li>
                Donate Bitcoin to me
                <img src="/static/img/qr.jpg" />
                <input value="1NArGM1rpWPUqEidXBnd9qnFNoxpDCmnmU" class="input-medium" onclick="this.select();" />
            </li>
        </ul>
    </div>
    <div class="span9 tools-main">
        {% block main %}{% endblock %}
    </div>
</div>
{% endblock %}