{% extends "tools/base.html" %}
{% load i18n %}

{% block title %} {{title}} {% endblock %}

{% block main %}
<h2>{{title}}</h2>
<p class="summary">
    {% if route == 'ictclas' %}
    <a href="http://www.ictclas.org/">ICTCLAS</a> (Institute of Computing Technology,Chinese Lexical Analysis System){% trans " is a system developed by Institute of Computing Technology, Chinese Academy of Sciences. This tool power by ICTCLAS, written in Python, can be use to divided Chinese word, tagged part of Chinese word, calculated word frequency. "%}
    {% endif %}

    {% if route == 'jieba' %}
    A Python library to divided word, tagged part of word like ICTCLAS. Although slower than ICTCLAS but it is open source. Can extracte keywords from text.
    {% endif %}

    {% if route == 'translation' %}
    The tool powered by <a href="http://translate.google.com">Google translation</a> engines for Chinese to English translation, send chinese text to api and get response, which includes translated text and pinyin.
    {% endif %}

    {% if route == 'check' %}
    Input news article, this tool will be check for mistakes according to a wrong words database. It assumed Chinese auxiliary (的、地、得) correct usage from the part of speech.
    {% endif %}

</p>

<h3>URL</h3>
<code>http://xinzhuan.info/api/tools/{{route}}.json</code>
<h3>Request parameters</h3>
    <ul class="list">
        {% if route == 'ictclas' %}
        <li><b>content</b> - Content which you want handle. Anything but Chinese rarely makes sense anyway.</li>
        <li><b>frequency_limit</b> - Only word frequecy is greater or equal to <i>frequency_limit</i> will be response. <b>Default: 3</b></li>
        {% endif %}

        {% if route == 'jieba' %}
        <li><b>content</b> - Content which you want handle. Anything but Chinese rarely makes sense anyway.</li>
        {% endif %}

        {% if route == 'translation' %}
        <li><b>content</b> - The content you want to translate.</li>
        <li><b>show_pinyin</b> - Sets whether the Chinese pinyin included. Possible values are: <i>1, 0</i>. <b>Default: 0</b></li>
        {% endif %}

        {% if route == 'check' %}
        <li><b>content</b> - The news article you want check. The more word this article contain, the more time will be cost.</li>
        {% endif %}

        <h4>Sample request</h4>
        <div class="well sample">curl <span style="color:#D14">"http://xinzhuan.info/api/tools/{{route}}.json"</span> --data 
            <span style="color:#D14">
                {% if route == 'ictclas' %}"content=中国报纸分析是对中国大陆出版的报纸进行内容分析&frequency_limit=1"{% endif %}
                {% if route == 'jieba' %}"content=中国报纸分析是对中国大陆出版的报纸进行内容分析"{% endif %}
                {% if route == 'translation' %}"content=中国报纸分析&show_pinyin=1"</span>{% endif %}
                {% if route == 'check' %}"content=分析中国的报纸需要认真地收集详细地资料并系统的处理才能得到里想的结果"{% endif %}
            </span>
        </div>
        
    </ul>
<h3>Response properties</h3>
    <ul class="list">
        <li><b>code</b> - The error code of Xinzhuan API alawys 0 except a request was valid.</li>
        <li><b>response</b>
            <ul>
                {% if route == 'ictclas' %}
                <li><b>result</b> - Return divided word and tagged part of word. <b>/n = noun; /v = verb; /a = adjective; /d = adverb;</b></li>
                <li><b>word_frequency</b> - Calculated result of word frequency, calculates exactly include <b>/n /v /a</b>.</li>
                {% endif %}

                {% if route == 'jieba' %}
                <li><b>result</b> - Return divided word and tagged part of word. <b>/n = noun; /v = verb; /a = adjective; /d = adverb;</b></li>
                <li><b>keywords</b> - The words used to describe the content. </li>
                {% endif %}

                {% if route == 'translation' %}
                <li><b>result</b> - Text are translated into English.</li>
                <li><b>pinyin</b> - Include hanyu pinyin for the whole text.</li>
                {% endif %}

                {% if route == 'check' %}
                <li><b>result</b> - If find possibly error, the auxiliary will have braces surrounding it.</li>
                {% endif %}
            </ul>
        </li>
        <h4>Response properties</h4>
{% if route == 'ictclas' %}
<xmp class="well sample">{
  "code": 0,
  "response": 
    {
     "result": "中国/n 报纸/n 分析/v 是/v 对/p 中国/n 大陆/n 出版/v 的/u
      报纸/n 进行/v 内容/n 分析/v" ,
     "word_frequency": [
        ["报纸/n",2], ["分析/v",2], ["中国/n",2], ["进行/n",1],
        ["大陆/n",1], ["出版/v",1], ["内容/n",1]
     ]
    }
}</xmp>
{% endif %}

{% if route == 'jieba' %}
<xmp class="well sample">{
  "code": 0,
  "response": 
    {
     "result": "中国/ns 报纸/n 分析/vn 是/v 对/p 中国/ns 大陆/n 出版/v 的/uj 报纸/n 进行/v 内容分析/l" ,
     "keywords": [报纸, 内容分析, 出版, 大陆, 中国, 分析, 进行]
    }
}</xmp>
{% endif %}

{% if route == 'translation' %}
<xmp class="well sample">{
  "code": 0,
  "response": 
    {"result": "China newspaper analysis",
     "pinyin": "Zhōngguó bàozhǐ fēnxī"
    }
}</xmp>
{% endif %}

{% if route == 'check' %}
<xmp class="well sample">{
  "code": 0,
  "response": 
    {"result": "分析.中国.的.报纸.需要.认真.地.收集.详细.{地}.资料.并.系统.{的}.处理.才.能.得到.里.想.的.结果."}
}</xmp>
{% endif %}
    </ul>

<h3>Demo</h3>
    <textarea name="" id="" rows="10" style="width:100%;">{% if route == 'ictclas' or route == 'jieba' %}中国报纸分析是对中国大陆出版的报纸进行内容分析{% endif %}{% if route == 'translation' %}中国报纸分析{% endif %}{% if route == 'check' %}分析中国的报纸需要认真地收集详细地资料并系统的处理才能得到里想的结果{% endif %}</textarea>
    <button class="btn btn-success submit">Submit</button>&nbsp;{% if route == 'ictclas' or route == 'jieba' %}<button class="btn load-article">Load random article</button> <button class="btn" onclick="$('textarea').val('')">Empty</button>{% endif %}
    <h4>Result</h4>
        <blockquote class="result">
            <p class="muted">The results of the query will be displayed here.</p>
        </blockquote>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

$('.load-article').click(function(e){
    $.get('/api/articles/detail.json?article_id=' + Math.ceil(Math.random()*10000).toString(), function(rsp){
        $('textarea').val(rsp.response.content);
        $('.submit').click();
    }, 'json');
});

$('.submit').click(function(e){
    var content = $('textarea').val(),
        button = $(this);
    button.prop('disabled', true).text('Loading...');
    $.post('/api/tools/{{route}}.json', {'content': content}, function(rsp){
    
        var extraContent = $('<div class="extra"><h4></h4><p></p></div>'),
            title = '',
            content;
        {% if route == 'ictclas' %}
        title = 'Word Frequency';
        content = rsp.response.word_frequency
        {% endif %}

        {% if route == 'jieba' %}
        title = 'Keywords';
        content = rsp.response.keywords
        {% endif %}

        {% if route == 'translation' %}
        title = 'Pinyin';
        content = rsp.response.pinyin;
        {% endif %}

        if ($('.extra').length == 0){
            extraContent.insertAfter('.result');
            title && extraContent.find('h4').text(title);
            content && extraContent.find('p').text(content);
        }
        else{
            title && $('.extra').find('h4').text(title);
            content && $('.extra').find('p').text(content);
        }
        
        $('.result p').removeClass('muted').text(rsp.response.result);
        button.prop('disabled', false).text('Submit');
    }, 'json');
});

var navTop  = $('.affix').length && $('.affix').offset().top,
    isFixed = 0;
$(window).on('scroll', function(){
    var scrollTop = $(window).scrollTop();
    if (scrollTop >= navTop && !isFixed) {
        isFixed = 1;
        $('.affix').attr('style', 'top: 0px');
    } else if (scrollTop <= navTop && isFixed) {
        isFixed = 0;
        $('.affix').attr('style', '')
    };
});
</script>
{% endblock %}