{% extends "tools/base.html" %}

{% block title %} ICTCLAS {% endblock %}

{% block main %}
<h2>ICTCLAS</h2>
<p><a href="http://www.ictclas.org/">ICTCLAS</a> (Institute of Computing Technology,Chinese Lexical Analysis System) is a system developed by Institute of Computing Technology, Chinese Academy of Sciences. This tool power by ICTCLAS, written in Python, can be use to divided Chinese word, tagged part of Chinese word, calculated word frequency.</p>
<h3>URL</h3>
<code>http://xinzhuan.info/api/tools/ictclas.json</code>
<h3>Request parameters</h3>
    <ul class="list">
        <li><b>content</b> - Content which you want handle. Anything but Chinese rarely makes sense anyway.</li>
        <li><b>frequency_limit</b> - Only word frequecy is greater than or equal to than <i>frequency_limit</i> will be response. <b>Default: 3</b></li>
        <h4>Sample request</h4>
        <div class="well sample">curl <span style="color:#D14">"http://xinzhuan.info/api/tools/ictclas.json"</span> --data <span style="color:#D14">"content=中国报纸分析是对中国大陆出版的报纸进行内容分析&frequency_limit=1"</span></div>
    </ul>
<h3>Response properties</h3>
    <ul class="list">
        <li><b>code</b> - The error code of Xinzhuan API alawys 0 except a request was valid and interpreted correctly.</li>
        <li><b>response</b>
            <ul>
                <li><b>result</b> - </li>
                <li><b>word_frequency</b> - Calculated result of word frequency, calculates exactly include <b>\n \v \a</b>.</li>
            </ul>
        </li>
        <h4>Response properties</h4>
                <xmp class="well sample">{
  "code": 0,
  "response": 
    {
     "result": "中国/n 报纸/n 分析/v 是/v 对/p 中国/n 大陆/n 出版/v 的/u
      报纸/n 进行/v 内容/n 分析/v" ,
     "word_frequency": [
        ["报纸/n",2], ["分析/v",2], ["中国/n",2], ["进行/n",1],
        ["大陆/n",1], ["出版/v",1], ["内容/n",1]
     ]
    }
}</xmp>
    </ul>

<h3>Demo</h3>
    <textarea name="" id="" rows="10" style="width:100%;"></textarea>
    <button class="btn btn-success submit">Submit</button> <button class="btn load-article">Load random article</button> <input type="button" class="btn" onclick="$('textarea').val('')" value="Empty" />
    <h4>Result</h4>
        <blockquote class="result">
            <p class="muted">The results of the query will be displayed here.</p>
        </blockquote>
    <h4>Word Frequency</h4>
    <p class="word-frequency"></p>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$('.load-article').click(function(e){
    $.get('/api/articles/detail.json?article_id=' + Math.ceil(Math.random()*10000).toString(), function(rsp){
        $('textarea').val(rsp.response.content);
        $('.submit').click();
    }, 'json');
});

$('.submit').click(function(e){
    var content = $('textarea').val();
    $.post('/api/tools/ictclas.json', {'content': content}, function(rsp){
        $('.result p').removeClass('muted').text(rsp.response.result);
        $('.word-frequency').text(rsp.response.word_frequency);
    }, 'json');
});
</script>
{% endblock %}