{% extends "base.html" %}

{% block title %} {{medium.english_name}} - Chinese Newspaper Analysis {% endblock %}

{% block content %}
<div class="row">
    <div class="span8 summary">
        <h2><i>{{medium.english_name}}</i></h2>
            <h4>Sample Numbers</h4>
            <p class="meta"> <i class="icon-book" title="Articles"></i> {{medium.article_count}}  <i class="icon-user" title="Journalists"></i> {{medium.journalist_count}}&nbsp;&nbsp;<i class="icon-camera" title="Photos"></i> {{medium.photo_count}}</p>
            <h4>Summary</h4>
            <p>
                {% if medium.id == 1081 %}Daily newspaper in the People's Republic of China. The paper is an organ of the Central Committee of the Communist Party of China, published worldwide with a circulation of 3 to 4 million. Similar to Pravda's relationship with the Soviet Union, the newspaper provides direct information on the policies and viewpoints of the Party. 
                {% endif %}

                {% if medium.id == 951 %}Weekly newspaper based in Guangzhou, People's Republic of China. It is considered the most outspoken newspaper, strongly recommended by liberal intellectuals and is said to contribute to public democratic debate and the formation of civil society.
                {% endif %}

                {% if medium.id == 1836 %}
                The official newspaper of Communist Youth League of China (CYL) (共青团), and is a popular official daily newspaper and the first independently operated central government news media portal in the People's Republic of China. Although China youth Daily is run by the CYL, it is also the first profit-generating paper in China. The profit enables the paper to support itself, and the paper welcomes individuals as well as companies to advertise in the paper.
                {% endif %}
            </p>


            <!--form class="form-search">
                <div class="input-append">
                    <input type="text" class="span2 search-query">
                    <button type="submit" class="btn">Search</button>
                </div>
            </form-->
    </div>
    <div class="span2 offset2">
        {% if medium.id == 1081 %}<a href="http://img.xinzhuan.info/scans/1081/2012071701.jpg" target="_blank"><img class="thumbnail" width="200" src="http://img.xinzhuan.info/scans/1081/2012071701.jpg!medium"/></a>{% endif %}
        {% if medium.id == 951 %}<img class="thumbnail" width="200" src="http://img.xinzhuan.info/scans/951/2010122301.jpg!medium"/>{% endif %}
    </div>
</div>
<div class="row">
    <div class="span12">
        <h3>Frequent word's Timeline</h3>
        <div id="timeline-embed"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var timeline_config = {
            width:              '100%',
            height:             '600',
            source:             '/api/articles/monthly_keywords.json?medium_id={{medium.id}}',
            embed_id:           'timeline-embed',               //OPTIONAL USE A DIFFERENT DIV ID FOR EMBED
            start_at_end:       false,                          //OPTIONAL START AT LATEST DATE
            start_at_slide:     '4',                            //OPTIONAL START AT SPECIFIC SLIDE
            start_zoom_adjust:  '2',                            //OPTIONAL TWEAK THE DEFAULT ZOOM LEVEL
            hash_bookmark:      true,                           //OPTIONAL LOCATION BAR HASHES
            font:               'Bevan-PotanoSans',             //OPTIONAL FONT
            debug:              false,                           //OPTIONAL DEBUG TO CONSOLE
            lang:               'en',                           //OPTIONAL LANGUAGE
            maptype:            'watercolor',                   //OPTIONAL MAP STYLE
            css:                'path_to_css/timeline.css',     //OPTIONAL PATH TO CSS
            // js:                 'path_to_js/timeline-min.js'    //OPTIONAL PATH TO JS
        }
    </script>
<script type="text/javascript" src="/static/js/storyjs-embed.js"></script>
<script type="text/javascript" src="/static/js/jquery.jqplot.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/jqplot.highlighter.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/jqplot.cursor.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/jqplot.barRenderer.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/jqplot.categoryAxisRenderer.min.js"></script>
<script type="text/javascript">
window.XINZHUAN = {};
XINZHUAN.words = {};
for (var i = 1; i <= 12; i++) {
    XINZHUAN.words[i] = [];
};

function renderWordData(month, pointIndex){
    if ( $('#id_word_chart').length > 0 ){
        $('#id_word_chart').prev().remove();
        $('#id_word_chart').prev().remove();
        $('#id_word_chart').remove();

        $('#id_article_list').prev().remove();
        $('#id_article_list').remove();
    };
    var word = XINZHUAN.words[month][pointIndex][0];
    var wordChart = $('<h3>Word frequency ( Monthly )</h3><p class="text-info"> * Click point will be display article list.</p><div id="id_word_chart"></div>');
    $('.span12').append(wordChart);
    $.post('/api/articles/word.json', {"word": word, "medium_id" : {{medium.id}} }, function(rsp){
        var json = rsp.response;
        $.jqplot('id_word_chart', [json], {
            axes:{
                xaxis:{
                    renderer:$.jqplot.DateAxisRenderer,
                    tickOptions:{
                        formatString:'%b'
                    }
                },
                yaxis:{
                    min: 0,
                    pad: 1.2
                }
            },
            highlighter: {
                show: true,
                sizeAdjust: 7.5
            },
            cursor: {
                show: false
            }
        });
        $('html, body').animate({
            scrollTop: $("#id_word_chart").offset().top
         }, 1000);

        $('#id_word_chart').bind('jqplotDataClick', 
            function (ev, seriesIndex, pointIndex, data) {
                var articleList = $('<h3>Article List</h3><div id="id_article_list"></div>');
                $('#id_article_list').prev().remove();
                $('#id_article_list').remove();

                articleList.insertAfter($('#id_word_chart'));
                $.post('/api/articles/list.json', {"i" : pointIndex, "word" : word, "medium_id" : {{medium.id}} }, function(rsp){
                    var json = rsp.response;
                    for (var i = json.length - 1; i >= 0; i--) {
                        var article = json[i],
                            articleTemplate = '<h4>' + article.title + '</h4>' + 
                                                '<span class="meta">on ' + article.publication_date + ' issue ' + article.issue + '</span>' +
                                                '<blockquote>' + article.summary + '<a class="read-more" data-article-id="'+article.id.toString()+'" href="#">READ MORE</a></blockquote><div class="hide"></div>';

                        $('#id_article_list').append(articleTemplate);
                    };
                    $('html, body').animate({
                        scrollTop: $("#id_article_list").offset().top
                    }, 1000);
                },'json');
            }
        );
    },'json');
};

$(document).on('mouseenter', 'div[id^="id_chart_"]', function(){
    $(this).off('jqplotDataClick');
    $(this).on('jqplotDataClick', 
        function (ev, seriesIndex, pointIndex, data) {
            var month = ev.currentTarget.id.replace('id_chart_','')
            renderWordData(month/1+1, pointIndex);
        }
    ); 
}).on('click', 'a.read-more', function(e){
    var self = this;
    $.post('/api/articles/detail.json', {"article_id" : $(this).data('article-id') , "field" : "content"}, function(rsp){
        var content = rsp.response.content,
            summary = $(self).parent();
        summary.next().html(summary.html());
        summary.html('<textarea style="width: 100%" rows="15">' + content + '</textarea><button class="btn" onclick="$(this).parent().html($(this).parent().next().html());">Cancel</button>');
    }, 'json');
    e.preventDefault();
});
</script>
{% endblock %}