{% extends "base.html" %}

{% block title %} Chinese Newspaper Analysis {% endblock %}

{% block content %}
<style type="text/css">
ul li {float: left;}
</style>
<div class="row">
    <div class="span12 introduction">
        <p>XINZHUAN.INFO is a balabala balabala</p>
        <span>including analysis on rpc important newspapers, the rpc provinces media <a href="{% url statistic '' %}">statistics</a>, as well as some useful <a href="/tools/">tools</a> for the China Journalists, such as typos check news classification...</span>
    </div>
</div> 
<div class="row newspaper">
    <div class="span6">
        <img src="/static/img/1.jpg" width="350" class="img-polaroid"/>
        <p class="date">Front page on 1 January 2012 </p>
    </div>
    <div class="span6 info">
        <h3><i><a href="/newspapers/1081/">People's Daily</a></i></h3>
        <p>Daily newspaper in the People's Republic of China. The paper is an organ of the Central Committee of the Communist Party of China, published worldwide with a circulation of 3 to 4 million. Similar to Pravda's relationship with the Soviet Union, the newspaper provides direct information on the policies and viewpoints of the Party. Be viewed as</p>
        <h4>Sample Numbers</h4>
        <p class="meta"> <i class="icon-book"></i> 542  <i class="icon-user"></i> 41&nbsp;&nbsp;<i class="icon-camera"></i> 5123</p>
    </div>
</div>

<div class="row newspaper">
    <div class="span6">
        <img src="/static/img/2.jpg" width="350" class="img-polaroid"/>
        <p class="date">Front page on 15 March 2012 </p>
    </div>
    <div class="span6">
        <h3><i><a href="/newspapers/951/">Southern Weekly</a></i></h3>
        <p>Weekly newspaper based in Guangzhou, People's Republic of China. It is considered the most outspoken newspaper, strongly recommended by liberal intellectuals and is said to contribute to public democratic debate and the formation of civil society.</p>
        <h4>Sample Numbers</h4>
        <p class="meta"> <i class="icon-book"></i> 542  <i class="icon-user"></i> 41&nbsp;&nbsp;<i class="icon-camera"></i> 5123</p>
    </div>
</div>

<div class="row newspaper">
    <div class="span6 screenshot">
        <img src="/static/img/3.jpg" width="350" class="img-polaroid"/>
        <p class="date">Front page on 4 May 2012 </p>
    </div>
    <div class="span6">
        <h3><i><a href="/newspapers/951/">China Youth Daily</a></i></h3>
        <p>The official newspaper of Communist Youth League of China (CYL) (共青团), and is a popular official daily newspaper and the first independently operated central government news media portal in the People's Republic of China. Although China youth Daily is run by the CYL, it is also the first profit-generating paper in China. The profit enables the paper to support itself, and the paper welcomes individuals as well as companies to advertise in the paper.</p>
        <h4>Sample Numbers</h4>
        <p class="meta"> <i class="icon-book"></i> 542  <i class="icon-user"></i> 41&nbsp;&nbsp;<i class="icon-camera"></i> 5123</p>
    </div>
</div>

<a href="#" class="btn read-more pull-right" onclick="alert('Comming soon...'); return false;">MORE NEWSPAPERS</a>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

</script>
{% endblock %}