{% extends "base.html" %}

{% block title %} Chinese Newspaper Analysis {% endblock %}

{% block content %}
<style type="text/css">
ul li {float: left;}
</style>
<div class="row newspaper">
    <div class="span6 info">
        <h3><i>People's Daily</i></h3>
        <p>Daily newspaper in the People's Republic of China. The paper is an organ of the Central Committee of the Communist Party of China, published worldwide with a circulation of 3 to 4 million. Similar to Pravda's relationship with the Soviet Union, the newspaper provides direct information on the policies and viewpoints of the Party. Be viewed as</p>
        <h4>Sample Numbers</h4>
        <p class="meta"> <i class="icon-book"></i> 542  <i class="icon-user"></i> 41&nbsp;&nbsp;<i class="icon-camera"></i> 5123</p>
    </div>
    <div class="span6">
        <img src="/static/img/photo1.jpg" width="300" class="img-polaroid"/>
    </div>
    <div class="rows">
        <div class="span12 slides">
            <a href=""><img src="http://xinzhuan.b0.upaiyun.com/photos/1081/1.jpg!small" width="100" class="img-polaroid"/></a>
            <a href=""><img src="http://xinzhuan.b0.upaiyun.com/photos/1081/1.jpg!small" width="100" class="img-polaroid"/></a>
            <a href=""><img src="http://xinzhuan.b0.upaiyun.com/photos/1081/1.jpg!small" width="100" class="img-polaroid"/></a>
            <a href=""><img src="http://xinzhuan.b0.upaiyun.com/photos/1081/1.jpg!small" width="100" class="img-polaroid"/></a>
            <a href=""><img src="http://xinzhuan.b0.upaiyun.com/photos/1081/1.jpg!small" width="100" class="img-polaroid"/></a>
            <a href=""><img src="http://xinzhuan.b0.upaiyun.com/photos/1081/1.jpg!small" width="100" class="img-polaroid"/></a>
            <a href=""><img src="http://xinzhuan.b0.upaiyun.com/photos/1081/1.jpg!small" width="100" class="img-polaroid"/></a>
            <a href=""><img src="http://xinzhuan.b0.upaiyun.com/photos/1081/1.jpg!small" width="100" class="img-polaroid"/></a>
        </div>
    </div>
</div>
<div class="border"></div>
<div class="row">
    <div class="span6">
        <h3><i>Southern Weekly</i></h3>
        <p>Weekly newspaper based in Guangzhou, People's Republic of China. It is considered the most outspoken newspaper, strongly recommended by liberal intellectuals and is said to contribute to public democratic debate and the formation of civil society.</p>
        <h4>Sample Numbers</h4>
        <i class="icon-book"></i>542  <i class="icon-book"></i> 542
        <table>
            <tr><td>Articles</td><td>1</td></tr>
            <tr><td>Comments</td><td>1</td></tr>
        </table>
    </div>
    <div class="span6">

    </div>
</div>
<div class="row">
    <div class="span6">
        <h3><i>Southern Weekly</i></h3>
        <p>Weekly newspaper based in Guangzhou, People's Republic of China. It is considered the most outspoken newspaper, strongly recommended by liberal intellectuals and is said to contribute to public democratic debate and the formation of civil society.</p>
        <h4>Sample Numbers</h4>
        <table>
            <tr><td>Articles</td><td>1</td></tr>
            <tr><td>Comments</td><td>1</td></tr>
        </table>
    </div>
    <div class="span6">

    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}